name: Terraform apply

on:
    workflow_dispatch:
        inputs:
            choice:
                description: 'would you like to apply the infrastructure, yes or no?'
                required: true
                type: string
                default: ''

defaults: 
    run:
        working-directory: ./infra

env:
  AWS_REGION: eu-west-2

jobs: 
    terraform_apply:
        runs-on: ubuntu-latest
        steps:
            - name: safety check
              run: |
                if [ "${{ github.event.inputs.choice }}" != "yes"] && [ "${{ github.event.inputs.choice }}" != "no"]; then
                echo "apply cancelled"
                exit 1
                fi
              working-directory: .

            - name: choice = no
              if: ${{ github.event.inputs.choice == 'no' }}
              run: exit 1
              working-directory: .

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Connect to AWS
              uses: aws-actions/configure-aws-credentials@v2
              with: 
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}
            
            - name: choice = yes
              if: ${{ github.event.inputs.choice == 'yes' }}
              run: exit 0

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.14.2"
            
            - name: Terraform init
              run: terraform init

            - name: Run Checkov action
              id: checkov
              uses: bridgecrewio/checkov-action@master
              with:
                directory: ./infra
                framework: terraform
                output_format: cli
                soft_fail: false

                skip_check: CKV2_AWS_5,CKV2_AWS_28,CKV_AWS_260,CKV_AWS_158,CKV2_AWS_11,CKV2_AWS_12,CKV_AWS_150,CKV_AWS_91

            - name: Terraform apply
              run: terraform apply --auto-approve