name: Terraform destroy

on:
    workflow_dispatch:
        inputs:
            choice:
                description: 'Type yes to destroy the infrastructure'
                required: true
                type: string
                default: ''

defaults: 
    run:
        working-directory: ./infra

env:
  AWS_REGION: eu-west-2

jobs: 
    terraform_destroy:
        runs-on: ubuntu-latest
        steps:
            - name: safety check
              run: |
                if [ "${{ github.event.inputs.choice }}" != "yes" ]; then
                echo "destroy cancelled"
                exit 1
                fi
              working-directory: .
            
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Connect to AWS
              uses: aws-actions/configure-aws-credentials@v2
              with: 
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.AWS_REGION }}
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.14.2"
            
            - name: Terraform init
              run: terraform init

            - name: Terraform destroy
              run: terraform destroy --auto-approve