name: Build & Push docker images to ECR

on:
    workflow_dispatch:
      inputs:
            choice:
                description: 'Type yes to build and push docker image'
                required: true
                type: string
                default: ''


permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-2

jobs: 
    docker_ecr:
        runs-on: ubuntu-latest
        steps:
            - name: safety check
              run: |
                if [ "${{ github.event.inputs.choice }}" != "yes" ]; then
                echo "build and push is cancelled"
                exit 1
                fi
              working-directory: .  
          
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Connect to AWS
            #   uses: aws-actions/configure-aws-credentials@v2
            #   with: 
            #     aws-access-key-id: $ {{ secrets.AWS_ACCESS_KEY_ID }}
            #     aws-secret-access-key: $ {{ secrets.AWS_SECRET_ACCESS_KEY }}
            #     aws-region: $ {{ env.AWS_REGION }}

            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v5
              with:
                role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/oidc-role
                aws-region: ${{ env.AWS_REGION }}
            
            - name: Login to ECR
              run: aws ecr get-login-password --region eu-west-2 | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com
            
            - name: Build docker image
              run: docker build -t ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest ./gatus

            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@0.33.1
              with:
                image-ref: '${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest'
                format: 'table'

                severity: 'CRITICAL,HIGH'
                exit-code: '1'
                ignore-unfixed: true
                
            
            - name: Push docker image
              run: docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest
